.vkg-hours {
    display: flex;
    height: calc(100% - 100px);

    &__form {
        min-width: 350px;
        display: flex;
        flex-direction: column;
        background: $fourth-color;
        margin: auto;
        padding: 20px 15px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;

        &-header {
            position: sticky;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 10px;
            padding: 10px 0;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            background: rgba(0, 0, 0, 0.13);
            color: white;
        }

        label {
            height: 105px;
        }

        &-email {
            width: 100%;
            padding: 5px;
            color: white;
            margin-top: 5px;
            margin-bottom: 10px;
            background: inherit;
            border: 1px solid white;
            transition: border, background 0.15s ease-in;
            border-right: 1px solid $fourth-color;
            border-top: 1px solid $fourth-color;
            border-left: 1px solid $fourth-color;

            &:focus-visible {
                outline: inherit;
                background: $second-color;
                border-radius: 5px;
                border: 1px solid white;
            }

            &-label {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
            }
        }

        &-value {
            width: 100%;
            padding: 5px;
            color: white;
            margin-top: 5px;
            margin-bottom: 10px;
            background: inherit;
            border: 1px solid white;
            transition: border, background 0.15s ease-in;
            border-right: 1px solid $fourth-color;
            border-top: 1px solid $fourth-color;
            border-left: 1px solid $fourth-color;

            &:focus-visible {
                outline: inherit;
                background: $second-color;
                border-radius: 5px;
                border: 1px solid white;
            }

            &-label {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
            }
        }

        &-period {
            width: 100%;
            padding: 5px;
            color: white;
            margin-top: 5px;
            margin-bottom: 10px;
            background: inherit;
            border: 1px solid white;
            transition: border, background 0.15s ease-in;
            border-right: 1px solid $fourth-color;
            border-top: 1px solid $fourth-color;
            border-left: 1px solid $fourth-color;

            &:focus-visible {
                outline: inherit;
                background: $second-color;
                border-radius: 5px;
                border: 1px solid white;
            }

            &-label {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
            }
        }

        &-date {
            width: 100%;
            padding: 5px;
            color: white;
            margin-top: 5px;
            margin-bottom: 10px;
            background: inherit;
            border: 1px solid white;
            transition: border, background 0.15s ease-in;
            border-right: 1px solid $fourth-color;
            border-top: 1px solid $fourth-color;
            border-left: 1px solid $fourth-color;

            &:focus-visible {
                outline: inherit;
                background: $second-color;
                border-radius: 5px;
                border: 1px solid white;
            }

            &-label {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
            }
        }

        &-button {
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            color: white !important;
            font-weight: bold;
            margin-top: 10px;
            box-shadow: inherit;
            box-sizing: inherit;
            border: 1px solid white;
            background: inherit;
            padding: 5px 0;
            transition: all 0.15s ease-in;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;

            &:hover {
                background: $second-color;
            }
        }

        &-error {
            color: white;
            opacity: 0.25;
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    &__export {
        margin: auto;

        &-button {
            color: black !important;
            border: 1px solid black;
            padding: 10px;

            &:hover {
                background: gray;
            }
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}
